form {
    border: 5px solid rgb(18, 71, 109);
    border-style:dashed;
    max-width: 550px;
    margin: 2rem auto;
    padding: 2rem;
    font-family: Georgia;
    background-color: #88fc03;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#results {
    border: 5px darkblue;
    border-style: double;
    max-width: 550px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: lightcyan;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 550px;
    height: 400px;
}

#submit {
    font-size: 20px;
    font-family: sans-serif;
    background-color: cornflowerblue;
    color: white;
    border-radius: 15%;
}
